@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.common-text {
  color: rgba(128, 128, 128, 0.836);
}
.main-text {
  color: #134477;
}

li {
  color: rgba(128, 128, 128, 0.836);
}
